<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ifesta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a</display-name>
    <servlet-name>a</servlet-name>
    <servlet-class>controller.a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autenticador</display-name>
    <servlet-name>Autenticador</servlet-name>
    <servlet-class>controller.Autenticador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autenticador</servlet-name>
    <url-pattern>/Autenticador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>autenticador</display-name>
    <servlet-name>autenticador</servlet-name>
    <servlet-class>controller.autenticador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autenticador</servlet-name>
    <url-pattern>/autenticador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerEvento</display-name>
    <servlet-name>ControllerEvento</servlet-name>
    <servlet-class>controller.ControllerEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEvento</servlet-name>
    <url-pattern>/ControllerEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerLembrete</display-name>
    <servlet-name>ControllerLembrete</servlet-name>
    <servlet-class>controller.ControllerLembrete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLembrete</servlet-name>
    <url-pattern>/ControllerLembrete</url-pattern>
  </servlet-mapping>
</web-app>